# bluesky-queueserver
existing_plans_and_devices.yaml

__pycache__/
*.py[cod]
*$py.class

*~
mViewer.log

*.egg-info/

# Microsoft VisualStudio Code Editor
.vscode/

# log files
.logs/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# filewriter callback output files
*.h5
*.hdf
*.hdf5
*.dat

# local developer Python code
dev_*.py
dev_*.ipynb

# Sphinx build products
build/

# local developer notes
notes_*.md

# APS IT droppings
.loglogin

# previous bluesky instrument (local copy)
old_code/
