# bluesky-queueserver
existing_plans_and_devices.yaml

__pycache__/
*.py[cod]
*$py.class

*~
mViewer.log

*.egg-info/

# Microsoft VisualStudio Code Editor
.vscode/

# log files
.logs/
screenlog.*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# filewriter callback output files
*.h5
*.hdf
*.hdf5
*.dat

# local developer content
dev_*

# Sphinx build products
build/

# local developer notes
notes_*.md

# APS IT droppings
.loglogin

# previous bluesky instrument (local copy)
old_code/

# user-defined plans
user_plans/

# dictionary md file
.re_md_dict.yml